.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: var(--max-width);

  z-index: 1;

  margin-top: 6rem;
  margin-bottom: 100px;

  animation: 0.3s fadeIn;
}

.oops {
  font-size: 4rem;
  font-family: "franklin";
  font-weight: 500;
  color: black;
  background: -webkit-linear-gradient(60deg, #000000af, #00000060);
  margin-top: 150px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnime 5s backwards infinite;
  background-size: 200%;
  background-repeat: repeat;
}

.anopla {
  width: 400px;
  height: 400px;
}

.oops_sub {
  font-size: 1rem;
  color: black;
  background: -webkit-linear-gradient(60deg, #000000af, #00000060);
  margin-top: 0.6rem;
  margin-bottom: 2rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnime 5s backwards infinite;
  background-size: 200%;
  background-repeat: repeat;
}

.input {
  background-color: none;
  background: none;
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
  pointer-events: all;
  color: black;
  z-index: 1;

  &:focus {
    background-color: none;
    background: none;
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
  }
}

@keyframes textAnime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

$active_color: #4488f7;


/* Mobile */
@media (max-width: 700px) {
  .root {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin-top: 50px;
  }

  .container {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  .anopla {
    width: 200px;
    height: 200px;
  }
  .oops {
    font-size: 3.5rem;
    margin-left: -10px;
  }
  
  .oops_sub {
    font-size: 0.7rem;
  }

  .form {
    max-width: 100px;
    margin-left: -10px;
  }

  .input {
    margin-top: 20px;
    margin-left: 4px;
  }
}
