.root {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: auto;
   padding: 0px 20px 20px 0px;

   @media screen and (max-width: 1100px) {
      width: 90%;
   }
}

.link {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.back_text {
   font-family: 'imagine', 'franklin';
   font-size: 1.4rem;
   transform: scale(1, 0.8);
   transform-origin: center;
   letter-spacing: -0.5px;
   padding-left: 10px;
   align-items: center;
}