.root {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;

  z-index: 1;

  max-width: var(--max-width);

  animation: 0.5s fadeIn;

  @media screen and (max-width: 1100px) {
    margin: 2rem 2rem 0 2rem;
    align-items: center;
  }

  @media screen and (max-width: 700px) {
    margin: 0 2rem 0 2rem;
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  width: 100%;
  justify-content: center;
}

.float_text {
  font-family: "imagine", "decima";
  font-size: 0.85rem;
  animation: yurayura 2s linear infinite;
  animation-timing-function: ease-in-out;
}

@keyframes yurayura {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
}

.divider {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;

  border-top: 1px solid black;

  z-index: -1;

  mask-image: linear-gradient(
    transparent,
    black 40%,
    black 60%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 40%,
    black 60%,
    transparent 100%
  );
}

.tatie_container {
  display: block;
  height: min-content;
  width: 500px;

  margin-left: 3rem;

  @media screen and (max-width: 700px) {
    opacity: 0.3;
    position: absolute;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
}

.tatie_img {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: baseline;
  object-fit: contain;
  object-position: bottom;
  margin-left: 2rem;
  overflow: hidden;

  animation: fadeInAndLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

  filter: drop-shadow(3px 0 0 #00009020);
}

.text_area {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  margin-top: 2rem;
  gap: 1rem;

  z-index: 1;

  @media screen and (max-width: 700px) {
    padding: 0 2rem;
    width: 100%;
    overflow: hidden;
  }
}

.antenna_container {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: flex-end;
  width: 500px;
  max-width: 100%;
  margin-top: -2rem;

  @media screen and (max-width: 1100px) {
    right: 0;
  }

  @media screen and (max-width: 700px) {
    padding: 0 2rem;
    width: 90%;
    padding: 0;
  }
}

.antenna_text {
  font-family: "imagine";
  opacity: 0.6;
}

.antenna {
  margin: 5px 1.5rem 0 1rem;
  object-fit: contain;
}

.no {
  font-family: "imagine";
  margin-left: 3px;
  transform: scaleY(0.8);
  width: fit-content;

  animation: fadeInAndRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.name {
  font-family: "imagine";
  font-size: 3.5rem;
  margin-top: -1.7rem;
  transform: scaleY(0.6);
  width: fit-content;

  animation: fadeInAndRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;

  filter: drop-shadow(0px 4px 0px #00000020);
}

.details {
  width: fit-content;
  font-size: 0.8rem;
  line-height: 1.8rem;
  width: 70%;
  margin-top: 0.7rem;

  animation: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;

  @media screen and (max-width: 700px) {
    width: 95%;
  }
}

.other_profs {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 1rem 0 1rem 0rem;
  font-size: 0.8rem;
  gap: 0.9rem;

  animation: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.other_profs_row {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.other_profs_title {
  width: 90px;
  font-weight: bold;
}

.other_profs_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.others {
  margin-top: 1rem;
  font-size: 0.7rem;
}

.next_prev_container {
  display: flex;
  flex-direction: row;
  width: 100%;

  padding: 3rem 3rem;

  opacity: 0.7;

  @media screen and (max-width: 700px) {
    padding: 3rem 2rem;
  }
}

.prev_area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  font-size: 1.5rem;

  font-family: "imagine";
}
.next_area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  font-size: 1.5rem;

  font-family: "imagine";
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndRight {
  0% {
    translate: -20px 0px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes fadeInAndLeft {
  0% {
    translate: 20px 0px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes fadeInAndUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
