.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;

  max-width: var(--max-width);

  animation: 0.3s fadeIn;
  margin-bottom: -200px;

  @media screen and (max-width: 700px) {
    margin-top: 4rem;
  }
}

.float_text {
  font-family: "imagine", "decima";
  font-size: 0.85rem;
  letter-spacing: 4px;
  animation-timing-function: ease-in-out;
}

@keyframes yurayura {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
}

.tatie_container {
  display: flex;
  position: relative;
  flex-direction: row;
  height: min-content;
  width: 100%;
  max-width: var(--max-width);

  align-items: baseline;
  justify-content: center;
  z-index: 10;

  margin-top: 1rem;

  @media screen and (max-width: 700px) {
    margin-top: 4rem;
    width: 100%;
  }
}

.tatie_link {
	display: inline-block;
  cursor: pointer;

  z-index: 4;

  transition: 0.3s linear;

  transform-origin: bottom 50%;

  filter: drop-shadow(0px 0px 5px #00009010) drop-shadow(3px 0 0 #00009000);

}

.tatie_img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.tatie_all {
  width: 100%;
  z-index: 1;

  margin: 0 -20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
