.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  z-index: 1;

  padding-top: 100px;
  padding-bottom: 100px;
}

.spacer {
  width: 40px;
  height: 40px;
}

.image {
  width: 400px;
  height: auto;
}

.dr {
  width: 500px;
  height: auto;
}

/* Mobile */
@media (max-width: 700px) {
  .root {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;

    z-index: 1;
  }

  .image {
    width: 80vw;
    height: auto;
  }

  .dr {
    width: 90vw;
    height: auto;
  }
}
