.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 4;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  max-width: var(--max-width);
  margin-bottom: 1rem;
  padding: 0 0rem 2rem 0rem;
}

.motifs {
  width: 100px;
  height: auto;
  object-fit: contain;
  opacity: 0.8;
}

.spacer {
  flex-grow: 1;
}

.anotherplanet {
  width: 50px;
}

.copyrights {
  font-family: "franklin";
  font-size: 0.6rem;
  transform: scale(1, 0.8);
  letter-spacing: -0.5px;
  color: #00000080;
  align-self: flex-end;

  @media screen and (max-width: 700px) {
    font-size: 0.7rem;
  }
}
@media (max-width: 1600px) {
  .container {
    padding: 0 0rem 2rem 0rem;
    z-index: 4;
  }
}

@media (max-width: 1200px) {
  .footer {
    z-index: 0;
  }
  
  .container {
    padding: 0 1.5rem 0.5rem 1.5rem;
  }
}

@media (max-width: 700px) {
  .footer {
    z-index: 0;
  }
  
  .container {
    padding: 0 1.5rem 0.5rem 1.5rem;
  }
}