@font-face {
  font-family: "imagine";
  src: url("../fonts/IMAGINE_FONT.TTF");
}

@font-face {
  font-family: "franklin";
  src: url("../fonts/FRAMD.TTF");
}

@font-face {
  font-family: "franklin-it";
  src: url("../fonts/FRAMDIT.TTF");
}

@font-face {
  font-family: "decima";
  src: url("../fonts/DECIMAMONOPRO.TTF");
}

:root {
  --max-width: 1100px;
  --sp-max-width: 320px;

  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 259, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */

  &::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

a {
  color: inherit;
  pointer-events: all;
  text-decoration: none;
}

p,
Link {
  color: #000000b0;
  z-index: 2;
  pointer-events: all;
}

img {
  pointer-events: none;
}

button {
  pointer-events: all;
}

div {
  pointer-events: none;
}

header {
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
