.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
}

.content {
  width: var(--max-width);
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--max-width);
  padding: 50px 0px 50px 0px;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    width: 100vw;
    padding: 50px 50px 50px 50px;
  }

  @media screen and (max-width: 700px) {
    justify-content: center;
    width: fit-content;
    padding: 25px 0px 25px 0px;
  }
}

.logo_link {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;

  -webkit-tap-highlight-color: transparent;

  @media screen and (max-width: 700px) {
    width: 80%;
    margin: 1rem 0;
  }
}

.logo {
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.45, 0, 0.55, 1);
  width: 300px;
  height: auto;
  align-items: center;
  justify-content: center;

  font-family: "imagine";
  font-size: 3rem;

  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.tab_container {
  height: 100%;
  width: 500px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.link_buttons_container {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  height: 100%;

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.flavor {
  width: 200px;
  height: 50px;
  font-family: "franklin";
  letter-spacing: -0.5px;
  transform: scale(1, 0.7);
  font-style: oblique;
  padding-top: inherit;
}

.transform-italic {
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.26794919243112214, M21=0, M22=1, SizingMethod='auto expand')";
}
