.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: var(--max-width);

  z-index: 1;

  margin-top: 80px;
  margin-bottom: 300px;

  animation: 0.3s fadeIn;
}

.flavor {
  font-size: 5rem;
  font-family: "franklin";
  font-weight: 500;
  color: black;
  background: -webkit-linear-gradient(60deg, #000000af, #00000060);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnime 5s backwards infinite;
  background-size: 200%;
  background-repeat: repeat;
}

.flavor_sub {
  font-size: 1rem;
  font-family: "franklin";
  font-weight: 500;
  color: black;
  background: -webkit-linear-gradient(60deg, #000000af, #00000060);
  margin-top: 0.6rem;
  margin-bottom: 2rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnime 5s backwards infinite;
  background-size: 200%;
  background-repeat: repeat;
}

@keyframes textAnime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

$active_color: #4488f7;

.link {
  font-size: 1.7rem;
  font-family: "franklin";
  letter-spacing: -0.5px;
  color: #00000090;
  margin-top: 2rem;
  margin-left: 2rem;
  text-decoration: underline;

  &:hover {
    color: $active_color;
  }
}
/* Mobile */
@media (max-width: 1200px) {
  .root {
    padding: 0 3rem;
  }
}
/* Mobile */
@media (max-width: 700px) {
  .root {
    margin-top: -20px;
    margin-bottom: 40px;
    padding: 0 3rem;
  }
  .flavor {
    font-size: 4.5rem;
  }
}
