.reset {
  color: #000;
  font-size: 1rem;
  z-index: 13;
}

.reset_container {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 13;
  margin: 20px 40px;
}

@media (max-width: 1200px) {
  .reset_container {
    margin: 0px;
    bottom: 60px;
    right: 30px;
  }
}
