.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 0px;
  padding-bottom: 200px;
}

.canvas_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100svh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 0rem 0;
  z-index: -1;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
  z-index: -1;
  pointer-events: none;
}

.bg_dot {
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: center;

  // background-image: radial-gradient(#000 2%, transparent 2%);
  // background-size: 70px 70px;
  // background-repeat: repeat;
}

.bg_main {
  height: 140%;
  width: 100%;
  max-width: calc(#{var(--max-width)} + 12rem);

  background-color: #ffffffD0;
  // border-width: 0.001em;
  // border-color: #00000008;
  // border-style: solid;
  background-clip: padding-box;
  backdrop-filter: blur(3px);
  z-index: 0;

  @media screen and (max-width: 1200px) {
    opacity: 0;
    backdrop-filter: unset;
  }
}

.logo {
  position: fixed;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    margin-top: 3rem;
  }
  
  .content {
    padding: 4rem;
  }
  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(30px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
