.link_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.icon_dark {
  cursor: pointer;
  font-size: 1.3em;
  color: #000000b0;
  transition: 0.1s cubic-bezier(0.45, 0, 0.55, 1);
}

.icon_light {
  cursor: pointer;
  font-size: 1.3em;
  color: #ffffffb0;
  transition: 0.1s cubic-bezier(0.45, 0, 0.55, 1); 
}

.icon_link {
  width: fit-content;
  height: fit-content;
}

.icon_tw_dark {
  @extend .icon_dark;
  $hover_color: #1c9aef;
  &:hover {
    color: $hover_color;
    filter: drop-shadow(0px 2px 3px rgba($hover_color, 0.3));
    transform: scale(1.05);
  }
}
.icon_bc_dark {
  @extend .icon_dark;
  $hover_color: #1da0c3;
  &:hover {
    color: $hover_color;
    filter: drop-shadow(0px 2px 3px rgba($hover_color, 0.3));
    transform: scale(1.05);
  }
}
.icon_sc_dark {
  @extend .icon_dark;
  $hover_color: #ff5500;
  &:hover {
    color: $hover_color;
    filter: drop-shadow(0px 2px 3px rgba($hover_color, 0.3));
    transform: scale(1.05);
  }
}
.icon_gl_dark {
  @extend .icon_dark;
  $hover_color: #f9a125;
  &:hover {
    color: $hover_color;
    filter: drop-shadow(0px 2px 3px rgba($hover_color, 0.3));
    transform: scale(1.05);
  }
}

.icon_tw_light {
  @extend .icon_light;
  $hover_color: #1c9aef;

  &:hover {
    color: $hover_color;
    filter: drop-shadow(0px 2px 3px rgba($hover_color, 0.3));
    transform: scale(1.05);
  }
}
.icon_bc_light {
  @extend .icon_light;
  $hover_color: #1da0c3;
  &:hover {
    color: $hover_color;
    filter: drop-shadow(0px 2px 3px rgba($hover_color, 0.3));
    transform: scale(1.05);
  }
}
.icon_sc_light {
  @extend .icon_light;
  $hover_color: #ff5500;
  &:hover {
    color: $hover_color;
    filter: drop-shadow(0px 2px 3px rgba($hover_color, 0.3));
    transform: scale(1.05);
  }
}
.icon_gl_light {
  @extend .icon_light;
  $hover_color: #f9a125;
  &:hover {
    color: $hover_color;
    filter: drop-shadow(0px 2px 3px rgba($hover_color, 0.3));
    transform: scale(1.05);
  }
}
