.root {
  display: flex;
  flex-direction: row;
  width: var(--max-width);

  z-index: 2;
}

.cover_img {
  width: 370px;
  height: 370px;
  z-index: 2;
  margin-left: 20px;
  box-shadow: 0px 0px 15px #00004430;
}

.text_area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 90px;
}

.detail {
  font-family: "imagine";
  transform: scale(1, 0.7);
  font-size: 14px;
}

.title {
  font-family: "imagine";
  transform: scale(1, 0.8);
  font-size: 40px;
  margin-bottom: 10px;
}

.track {
  font-family: "franklin";
  font-size: 1rem;
  transform: scale(1, 0.8);
  margin: 3px 0px 3px 0px;
}

.release_date {
  font-family: "franklin";
  font-size: 14px;
  margin: 30px 0px 3px 0px;
}

.listen_in {
  font-family: "imagine";
  padding: 2px;
  margin: 50px 0px 10px 0px;
  transform: scale(1, 0.8);
  width: fit-content;
  font-size: 16px;
  color: white;
  background-color: #00000090;
}

.available_in {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.5s cubic-bezier(0.45, 0, 0.55, 1);

  &:hover {
    text-shadow: 0px 0px 7px #00004450;
  }

  &_icon {
    font-size: 20px;
  }

  &_text {
    font-family: "franklin";
    font-size: 18px;
    transform: scale(1, 0.8);
    letter-spacing: -0.5px;
    padding: 0px;
    padding-left: 10px;
    text-align: center;
  }
}
