.root {
  display: flex;
  flex-direction: column;
  width: 100%;

  z-index: 2;
}

.cover_link {
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
  box-shadow: 0px 5px 10px #00004430;

  &:hover {
    box-shadow: 0px 5px 20px #00004450;
  }
}

.cover_img {
  width: 100%;
  height: 100%;
}

.text_area {
  padding-top: 15px;
  align-items: left;
}

.artist {
  font-family: "franklin";
  font-size: 0.8rem;
  transform: scale(1, 0.7);
  letter-spacing: -0.5px;
  color: #000040;

  @media screen and (max-width: 700px) {
    font-size: 1rem;
  }
}

.title {
  font-size: 1rem;
  font-family: "decima";
  letter-spacing: -0.5px;
  color: #000040;

  @media screen and (max-width: 700px) {
    font-size: 1rem;
  }
}
