.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: var(--max-width);

  gap: 30px;

  @media screen and (max-width: 700px) {
    max-width: var(--sp-max-width);
    width: var(--sp-max-width);
  }
}

.not_found {
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.not_found_icon {
  padding-bottom: 40px;
  font-family: "franklin";
  font-size: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.not_found_text {
  width: 100%;
  font-family: "franklin";
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
