.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: var(--max-width);

  padding-top: 20px;
}

.grid_container {
  width: 100%;
  padding: 0 2rem;
}
