.grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, 180px);
  width: 100%;
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;

  margin: 0 auto;

  justify-content: center;

  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(auto-fit, 230px);
  }
}
