.sp_menu_area {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 0.9rem;

   z-index: 11;
 
   @media screen and (min-width: 1100px) {
     visibility: hidden;
   }
 }
 
 .sp_menu_button {
   display: flex;
   flex-direction: row;
   width: fit-content;
   align-items: center;
   pointer-events: all;
   cursor: pointer;
 }
 
 .menu_icon {
  margin-top: 6px;
 }
 
 .menu_text {
   font-family: "imagine";
   font-size: 2rem;
   transform: scale(1, 0.6);
 }
 
 .menu_container {
   display: block;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;

   z-index: 11;
 }
 
 .menu_container_anim {
   transition: 0.5s cubic-bezier(0.45, 0, 0.55, 1);
 }

 @media (max-width: 1200px) {
  .sp_menu_area {
     padding-bottom: 4rem;
   }
 }