.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 15vh 2rem 0 2rem;
  gap: 1rem;
  list-style: none;
  width: 100%;

  pointer-events: all !important;

  animation-name: fadeIn;
  animation-fill-mode: backwards;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 0.3s;
}

.close {
  pointer-events: all;
  cursor: pointer;
}

$active_color: #4488f7;

.menu_title {
  font-family: "imagine";
  font-size: 1rem;
  color: #fff;
}

.link {
  font-family: "franklin";
  letter-spacing: -1px;
  transform: scale(1, 0.8);
  font-size: 2rem;
  color: #fff;

  width: fit-content;
  z-index: 40;

  &_active {
    @extend .link;
    color: $active_color;
  }
}

.ext_link {
  font-family: "franklin";
  font-size: 1rem;
  color: #fff;
  width: fit-content;
  z-index: 40;
}

.reveal_container {
  position: relative;
  display: inline-block;
  width: fit-content;
  overflow: hidden;
  transform: scale(1, 0.8) !important;
  color: black;
}

.reveal_container .confidentials {
  position: relative;
  font-family: "franklin";
  letter-spacing: -1px;
  font-size: 2rem;
  color: red;

  width: fit-content;
  z-index: 40;
}

.reveal_container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 200px; /* 斜めに十分覆うサイズ */
  height: 200px;
  background-color: #222222;
  rotate: 45deg;
  transform-origin:center center; 
  transition: transform 1s ease;
  z-index: 100;
}

.reveal_container:hover .overlay {
  transform-origin: center center; 
  transform: translateY(-100%);
  transition: transform 1s ease;
}

.background_div {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  pointer-events: all !important;

  backdrop-filter: blur(3px);

  animation-name: slideIn;
  animation-fill-mode: backwards;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-direction: normal;

  background-color: #00000050;
}

@keyframes slideIn {
  0% {
    top: 100vh;
  }

  100% {
    top: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
