.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: var(--max-width);

  animation: 0.3s fadeIn;

  @media screen and (max-width: 1100px) {
    margin-top: 2rem;
    align-items: center;
  }
}

.text_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  gap: 1rem;

  @media screen and (max-width: 1100px) {
    width: 80%;
  }
}

.data_text {
  width: 100%;
  font-family: "decima";
  font-size: 0.8rem;
  line-height: 160%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-shadow: 0px 1px 3px #00000040;
}

.text {
  width: 100%;
  font-family: "decima";
  font-size: 0.8rem;
  margin-top: 1rem;
  line-height: 200%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  opacity: 0;
  transition: 1s cubic-bezier(0.45, 0, 0.55, 1);
  text-shadow: 0px 1px 3px #00000040;

  &_active {
    @extend .text;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
