.root {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

$active_color: #4488f7;

.title {
  font-family: "imagine";
  font-size: 1.2rem;
  color: #000000B0;

  &_active {
    @extend .title;
    color: $active_color;
  }
}
.reveal_container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: black;
}

.reveal_container .confidentials {
  position: relative;
  font-family: "imagine";
  font-size: 1.2rem;

  color: red;

  &_active {
    @extend .title;
    color: $active_color;
  }
}
.reveal_container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 200px; /* 斜めに十分覆うサイズ */
  height: 200px;
  background-color: #222222;
  rotate: 45deg;
  transform-origin:center center; 
  transition: transform 1s ease;
  z-index: 1;
}

.reveal_container:hover .overlay {
  transform-origin: center center; 
  transform: translateY(-100%);
  transition: transform 1s ease;
}

.bar {
  height: 0px;
  width: 100%;
  background-color: $active_color;
  box-shadow: 0px 0px 7px #00004050;
}
